
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Favicon -->
    <link href="~/Content/assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="~/Content/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/Content/assets/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    @Styles.Render("~/Content/assets/css/argon-dashboard.css?v=1.1.2");
</head>
<body>
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
            <div class="row">
                <div class="col-6 collapse-brand">
                    <a href="./index.html">
                        <img src="~/Content/assets/img/brand/blue.png">
                    </a>
                </div>
                <div class="col-6 collapse-close">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
            <li class="nav-item  active ">
                <a class="nav-link  active " href="./index.html">
                    <i class="ni ni-tv-2 text-primary"></i> Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./examples/profile.html">
                    <i class="ni ni-single-02 text-yellow"></i> Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="./examples/tables.html">
                    <i class="ni ni-bullet-list-67 text-red"></i> Crear Departamentos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./examples/login.html">
                    <i class="ni ni-key-25 text-info"></i> Reportes
                </a>
            </li>

        </ul>
        <!-- Divider -->
        <hr class="my-3">
    </div>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/Content/assets/js/plugins/jquery/dist/jquery.min.js");
    @Scripts.Render("~/Content/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js");
    <!--   Optional JS   -->
    @Scripts.Render("~/Content/assets/js/plugins/chart.js/dist/Chart.min.js");
    @Scripts.Render("~/Content/assets/js/plugins/chart.js/dist/Chart.extension.js");
    <!--   Argon JS   -->
    @Scripts.Render("~/Content/assets/js/argon-dashboard.min.js?v=1.1.2");
    @Scripts.Render("https://cdn.trackjs.com/agent/v3/latest/t.js");
    <script>
        window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "argon-dashboard-free"
            });</script>
</body>

</html>
